<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>403</title>
	<link type="text/css" rel="stylesheet" href="application.css"/>	
</head>
<body class="body403">
	<div id="main403">
		<h1>403 - An error happened</h1>
		<a href="/">Go to login</a>
	</div>
</body>
</html>
