<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hiking world</title>
    <link type="text/css" rel="stylesheet" href="application.css" />
</head>
<body>
    <div id="root">

    </div>
    <form id="form1" action="/logout" method="post">
    	<input type="hidden" name="csrf" value=<%- JSON.stringify(csrfToken) %>>
    	<a href="#" onclick="document.getElementById('form1').submit();">Log out!</a>
	</form>    
    <script type="application/javascript" src="bundle.js"></script>
</body>
</html>
