<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hiking world</title>
    <link type="text/css" rel="stylesheet" href="static/application.css" />
</head>
<body>
    <h1>hiking world login</h1>
    <a href="login">Sign in</a>
    <a href="register">Sign up</a>
    <form method="post" action="/login">
        <input type="hidden" name="csrf" value=<%- JSON.stringify(csrfToken) %>>
        <label>Username:</label></br>
        <input type="text" name="username" placeholder="username"/></br>
        <label>Password:</label></br>
        <input type="password" name="password" placeholder="password"/></br>
        <button type="submit">submit</button>
        <label><%- msg %></label>
    </form>
</body>
</html>