<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hiking world</title>
    <link type="text/css" rel="stylesheet" href="../../client/login.css" />
</head>
<body>
    <h1>hiking world login</h1>
    <form method="post" action="/api/user/login">
        <label>Username:</label>
        <input type="text" placeholder="username"/>
        <label>Password:</label>
        <input type="password" placeholder="password"/>
        <button type="submit">submit</button>
    </form>
</body>
</html>