<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link type="text/css" rel="stylesheet" href="static/application.css" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    <h1>register</h1>
    <a href="login">Sign in</a>
    <a href="register">Sign up</a>    
    <form method="post" action="/api/user/register">
        <label>Username:</label></br>
        <input type="text" name="username" placeholder="username"/></br>
        <label>Password:</label></br>
        <input type="password" name="password" placeholder="password"/></br>
        <label>Reenter password:</label></br>
        <input type="password" name="password_repeat" placeholder="password"/></br>
        <div class="g-recaptcha" data-sitekey="6LcUchwTAAAAAJNO89bnxKXv30ztAxhtEfORaIZv"></div>
        <button type="submit">submit</button>
    </form>
</body>
</html>